/*Utiliser ces 3 propriétés pour réinitialiser les marges et paddings par défaut du document */
* {
  padding: 0;
  margin: 0;
  /*box-sizing :Permet de ne pas agrandir un element lorsque l'on rajoute du padding*/
  box-sizing:border-box;
}
body{
  font-family: sans-serif;
}
header {
  padding-left: 16px;
  padding-right: 64px;
}

header nav a {
  /*header nav a => les lien dans la nav du header */
  margin-left: 0px;
  margin-right: 8px;
}

/*Changement de la couleur au survol*/
header nav a:hover {
  color: #17431C
}

a {
  color: black;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
}
/*---------------------------------
        Systeme de flexbox
-------------------------------*/
.flex {
  display: flex;
  flex-wrap: wrap;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
/* largeur des enfants - flexbox */
.largeur60 {
  width: 60%;
}

.largeur30 {
  width: 30%;
}

.largeur45 {
  width: 45%;
}


/*Images responsives : s'adaptent a la taille de leur parents, vous pouvez bien sur creer une classe .responsive et la distribuer aux images qui en ont besoin*/
article img {
  width: 100%;
}

/*------------------------
        Backgrounds
----------------------------*/
.bg-nav {
  background-color: #7E6C9F;
  height: 100px;
}

.bg {
  background-color: #7E6C9F;
  height: 520px;
}

.bg-image {
  background-image: url("images/background.png");
}

.bg-noir{
  background-color: #000000;
  padding-top: 1px;
}

/*------------------------------
      Composants
------------------------------------*/
.bouton-taff {
  line-height: 2.5;
  padding: 8px 16px 8px 16px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background-color: #483767;
  margin-left: 25px;
  margin-top: 46px;
}

.bouton-cv {
  line-height: 2.5;
  padding: 8px 16px 8px 16px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background-color: #483767;
  margin-top: 30px;
  }
  

.display{
    display: inline-block;
}

.bouton-taff:hover {
  background-color:#271f38;
}
.bouton-cv:hover {
  background-color:#271f38;
}

.card {
  width: 25%;
  margin-top: 32px;
  margin-bottom: 32px;
}

/* Styliser le texte*/

h1 {
  font-size: 32px;
  margin-top: 64px;
  margin-bottom: 32px;
  cursor: default;
}

h2 {
  margin-top: 64px;
  margin-bottom: 32px;
  cursor: default;
  font-family: 'Major Mono Display', monospace;
}

h3 {
  margin-top: 64px;
  margin-bottom: 32px;
  margin-left: 50px;
  cursor: default;
  font-family: 'Roboto Mono', monospace;
}

.slogan {
  font-size: 30px;
  padding-left: 30px;
  cursor: default;
}

.accroche {
  font-size: 30px;
  margin-bottom: 32px;
  padding-left: 30px;
  cursor: default;
}

.texte-rouge {
  color: #E2001A;
}

p {
  margin-bottom: 20px;
  font-family: 'Roboto Mono', monospace;
  cursor: default;
}

/*Nouvelle notion: le container, colone centrée sur l'ecran , permet de donner du rythme et de faciliter la lecture lorque l'on a beaucoup de texte, comme ici dans les articles (limiter la taille du texte)*/
.container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

/*Marges*/
.mt64 {
  margin-top: 64px;
}

.mt32 {
  margin-top: 32px;
}

.style-major{
    font-family: 'Major Mono Display', monospace;
}

.style-roboto{
  font-family: 'Roboto Mono', monospace;
}

.box-60{
  width: 60%;
}

.box-77{
  width: 77%;
}

.contour{ 
  display: inline-block;
  border: 1px solid black;
  line-height: 2.5;
  padding: 8px 16px 8px 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  background-color: #483767;
}

.boite {
  overflow:hidden;
}

.txt-gauche {
  width:80%; 
  float:right; 
  display:inline
}

.contour:hover {
  line-height: 2.5;
  padding: 8px 16px 8px 16px;
  text-align: center;
  color: #000000;
  border-radius: 8px;
  background-color: #ffffff;
}

.hr-haut{
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
}

.hr-bas{
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}

.hr-bas2{
  margin-top: 0px;
  margin-left: 80px;
  margin-right: 80px;
}

.hr-titre{
    margin-top: 20px;
    margin-left: 550px;
    margin-right: 550px;
}

.text-align{
  text-align: center;
}

.styled {
  line-height: 2.5;
  padding: 8px 16px 8px 16px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background-color: #483767;
}

.styled:hover {
  background-color: #271f38;
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.a-img-txt{
  display:grid; 
}

.a-img-txt>*{
  grid-area:1/1/-1/-1; 
}

.a-txt{
  display:flex;
  justify-content:center;
  align-items:center;
  color:#fff;
  opacity:0;
  filter:invert(0);
  transition:opacity .8s;
}

.c2{
    background-color:#7e6c9fb9;
}

.c3{
  background-color:#000000a1;
}

.a-txt:hover{
  opacity:1;
}
.a-img-txt:hover .a-img{
  filter:invert(0);
}

img{
  max-width:100%;
  height:auto;
}
a{
  text-decoration:none;
}

.margin-top{
  margin-top: 70px;
}

.margin-bot{
  margin-bottom: 60px;
}

.font{
  text-decoration: underline;
}

html{
scroll-behavior: smooth;
}

.color-contact{
  color: grey;
}

footer p, footer h3{
  margin-bottom: 0;
}

.padding-bot{
  padding-bottom: 60px;
}

.cursor-default{
  cursor: default;
}

.cursor-not-allowed{
  cursor: not-allowed;
}

.padding-left{
  padding-left: 20px;
}

.copyright{
  color: white;
  text-align: center;
}

.margin-left{
  margin-left: 30px;
}

.padding-left2{
  padding-left: 50px;
}

form {
  /* Pour centrer le formulaire sur la page */
  margin: 0 auto;
  width: 400px;

  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

div + div {
  margin-top: 1em;
}

label {
  /* On s'assure que tous les libellés ont la même taille
     et sont correctement alignés. */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* On s'assure que les champs texte ont la même police
     Par défaut, les zones de texte ont une police à chasse
     fixe. */
  font: 1em sans-serif;

  /* Taille uniforme pour des champs */
  width: 300px;
  box-sizing: border-box;

  /* On utilise la même bordure que pour le formulaire */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* On rajoute une mise en avant pour les éléments avec
     le focus. */
  border-color: #000;
}

textarea {
  /* On aligne les textes sur plusieurs lignes avec leur
     libellé. */
  vertical-align: top;

  /* On fournit un peut d'espace pour saisir du texte. */
  height: 5em;

  /* On permet de redimensionner verticalement. */
  resize: vertical;
}

.button {
  /* On aligne les boutons avec les champs texte. */
  padding-left: 90px; /* La même taille que les libellés */
}

button {
  /* Une marge supplémentaire représentant approximativement
     le même espace qu'entre les libellés et les champs. */
  margin-left: 0.5em;
}